span.svelte-h8fy7l {
    width: 100dvw;
    display: flex;
    flex-direction: row;
    margin-top: var(--size-fluid-0);
    padding: var(--size-fluid-2)
}

button.svelte-h8fy7l {
    z-index: 40;
    position: fixed!important;
    top: 0;
    right: 0;
    padding: 1.25rem;
    margin-top: var(--size-fluid-3);
    margin-right: var(--size-fluid-3);
    text-align: center;
    vertical-align: middle;
    font-size: var(--font-size-fluid-2);
    border: 2px solid black;
    box-shadow: var(--shadow-4);
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: #fff3;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

button[type=reset].svelte-h8fy7l {
    all: unset!important;
    z-index: 10!important;
    font-size: var(--font-size-fluid-2)!important;
    padding-left: var(--font-size-fluid-2)!important;
    padding-right: var(--font-size-fluid-2)!important;
    border-bottom: 1px solid #e9e9e9!important;
    background: var(--gradient-9)!important;
    background-clip: text!important;
    text-decoration: none!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important
}

dialog.svelte-h8fy7l::backdrop {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

dialog.svelte-h8fy7l {
    border: none;
    margin: 0;
    padding: 0;
    min-width: 100dvw;
    background-color: transparent
}

input.svelte-h8fy7l {
    width: 100dvw;
    height: 72px;
    border-radius: 0!important;
    margin: 0;
    font-size: var(--font-size-fluid-1);
    border-bottom: 1px solid #e9e9e9;
    text-transform: capitalize;
    text-align: center;
    outline: none!important;
    font-size: var(--font-size-fluid-2);
    background: var(--gradient-9);
    background-clip: text;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

input.svelte-h8fy7l::placeholder {
    background: var(--gradient-9);
    background-clip: text;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: capitalize;
    font-size: var(--font-size-fluid-1)
}

section.svelte-h8fy7l {
    background-color: transparent;
    padding-bottom: var(--size-fluid-3)
}

#popularResults:where(.astro-zvy3f7fy) {
    margin: 0;
    width: 100dvw;
    max-height: 33vh;
    overflow: auto;
    background-color: #0000003f;
    mask-image: linear-gradient(180deg,#000 31dvh,transparent)
}
